body {
    font-family: 'Muli', Verdana, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: normal;
    text-decoration: none;
    line-height: 1.2;
    background-color: #f6f6f6;
    padding: 0;
    margin: 0;
}

/**
    CLASSes use . (dot)     Occur as many times as needed per HTML page
    IDs use # (hash)        Occur maximum ONCE per HTML page
    ELEMENTs use the element name
**/

sup, sub {
    vertical-align: baseline;
    position: relative;
    top: -0.4em;
}
sub {
    top: 0.4em;
}

.wrapper {
    width: 800px;
    background-color: #fff;
    margin: 0 auto; /* TRBL [TB=0 LR=auto] */
    position: relative;
}

#resume {
    width: 600px;
    padding: 10px;
    padding-top: 100px;
    float: left;
}

#pageHeader {
    position: fixed;
    width: 780px; /* 800px - 2*10px padding */
    background: #2c3e50; /* black */
    /* #RRGGBB HEX numbers for RR/GG/BB
       00 = None of that colour
       ff = 100% of that colour
       00 33 66 99 aa cc ff
       #0000ff = 100% blue
       #9999ff = light blue

       IF ALL THREE doublets are PAIRS then:
       #000 black (is valid)
       #333 very dark grey
       #666 dark grey
       #999 mid grey
       #aaa light grey
       #ccc very light grey
       #fff white
       #00f
       #99f
     */
    color: #ecf0f1; /* white */
    height: 100px;
    padding: 10px;
}

.infoSection {
    padding-top: 20px;
    padding-bottom: 20px;
    clear: both;
}

.infoSection dt, .infoSection dd {
    float: left;
    padding: 5px 0;
    /* TRBL 5px 5px 5px 5px */
    /* T[RL]B 10px 0px 5px */
    /* [TB][RL] 10px 5px */
    /* [TRBL] 5px all sides */
    margin: 0; /* TRBL 0 0 0 0*/
}

.infoSection dt {
    width: 150px;
    clear: left;
}

.infoSection dd {
    width: 450px;
}

.siteFooter {
    clear: both;
    height: 50px;
    padding: 20px 20px 10px; /* TRBL [T 20px RL 20px B 10px] */
    background-color: #333;
    color: #f0f0f0;
}

.copyright {
    width: 600px;
}

.top {
    position: absolute;
    /*  relative    relative to the container
        fixed       Non moving position
        absolute    absolute to container
        static      "non moving"          */
    right: 20px; /* 20 pixels in from the right */
    bottom: 20px; /* 20 pixels up from the bottom */
    width: 60px;
    background-color: #2c3e50; /* egg blue */
    text-align: center;
}

.top a {
    color: #bdc3c7;
    font-weight: bold;
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    padding-top: 5px;
    padding-bottom:5px;
}

.top a:hover {
    background-color: #bdc3c7; /* egg blue */
    color: #2c3e50;
    text-decoration: underline;
}

.navigation {
    width: 100%;
    display: block;
}

.navigation ul {
    list-style: none;
    padding:0;
    margin:0;
}
.navigation li {
    line-height: 20px;
    width: 100px;
    display: inline-block;
}
.navigation a {
    text-decoration: none;
    display: block;
    text-align: left;
    padding-left:5px;
    border-bottom: 1px solid #bdc3c7;
    color: #bdc3c7;
    transition: 0.3s background-color;
}

.navigation a:hover {
    background-color: #aaa;
    color: #444;
}

.portrait {
    padding:0;
    margin:0;
    padding-top: 120px;
    width: 180px;
    float: right;
}

.portrait figure {
    margin:0;
    padding: 0;
    padding-top: 10px;
}

.portrait figcaption {
    width: 90%;
    background: #333;
    color: #3498db;
    font-size: 10px;
    padding: 5px 5%;
}

.portrait img {
    width: 100%;
}
